@font-face {
    font-family: 'AvenirNext-UltraLight';
    font-style: normal;
    font-weight: 500;
    src: url('../../fonts/AvenirNext-UltraLight-11.ttf') format('truetype');
    font-display: swap;
  }
@font-face {
    font-family: 'AvenirNext-Regular';
    font-style: normal;
    font-weight: 400;
    src: url('../../fonts/AvenirNext-Regular-08.ttf') format('truetype');
    font-display: swap;
  }
@font-face {
    font-family: 'AvenirNext-Medium';
    font-style: normal;
    font-weight: 500;
    src: url('../../fonts/AvenirNext-Medium-06.ttf') format('truetype');
    font-display: swap;
  }
@font-face {
    font-family: 'AvenirNext-DemiBold';
    font-style: normal;
    font-weight: 600;
    src: url('../../fonts/AvenirNext-DemiBold-03.ttf') format('truetype');
    font-display: swap;
  }
@font-face {
    font-family: 'AvenirNext-Bold';
    font-style: normal;
    font-weight: 700;
    src: url('../../fonts/AvenirNext-Bold-01.ttf') format('truetype');
    font-display: swap;
  }
  @font-face {
    font-family: 'MyriadPro-Regular';
    font-style: normal;
    font-weight: 400;
    src: url('../../fonts/MyriadPro-Regular-01.ttf') format('truetype');
    font-display: swap;
  }
  @font-face {
    font-family: 'Manrope-Regular';
    font-style: normal;
    font-weight: 400;
    src: url('../../fonts/Manrope-Regular.ttf') format('truetype');
    font-display: swap;
  }
  @font-face {
    font-family: 'AnekLatin-Regular';
    font-style: normal;
    font-weight: 400;
    src: url('../../fonts/AnekLatin-Regular.ttf') format('truetype');
    font-display: swap;
  }