$primary-color: #017ebd;
$secondary-color: var(--brand-primary-color, $primary-color);
$success-color: #1fb35b;
$danger-color: #d90004;
$warning-color: #d3b24d;
$off-black-color: #979797;
$off-white-color: #e5e5e5;
$bg-color: #f5f7fa;
$normal-text-color: #3f3f3f;
$heading-text-color: #017ebd;
$font-regular: 16px;
$font-large: 20px;
$font-small: 14px;