.datePickerArrowIcon {
  .gzPelg svg {
    color: #293050 !important;
    fill: #293050 !important;
  }

  svg {
    font-weight: 100 !important;
    color: #293050 !important;
    fill: #293050 !important;
  }


}

.datePickerCalIcon {
  svg {
    font-weight: 100 !important;
    color: #2d2c2c !important;
    fill: #2d2c2c !important;
  }

  .MuiSvgIcon-root .css-120dh41-MuiSvgIcon-root {
    width: 15px !important;
    height: 15px !important;
    color: #2d2c2c !important;
    fill: #2d2c2c !important;
  }
}