@import "../../../assets/scss/abstracts/abstracts.scss";

.button_custom {
  .btn {
    // text-transform: uppercase;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.125rem;
    height: 44px;
    padding: 12px;
    // min-width: 188px;
    box-sizing: border-box;
    border-radius: 6px;

    &.primary-btn {
      background: var(--brand-primary-color, var(--brand-primary-color, $primary-color));
      color: #fff;
      font-weight: 700;
      font-size: 15px;
      line-height: 20px;
      letter-spacing: 0.3px;
      height: 44px;
      // min-width: 166px ;
      padding: 0 0.3em;
      &:hover {
        background-color: var(--brand-primary-color, #0d8bd7);
        opacity: 0.9;
        color: #fff;
        // border: 1px solid #0d8bd7;
      }
    }
    &.track-btn {
      background: var(--brand-primary-color, var(--brand-primary-color, $primary-color));
      color: #fff;
      font-weight: 700;
      font-size: 15px;
      line-height: 20px;
      letter-spacing: 0.3px;
      height: 44px;
      // min-width: 166px ;
      padding: 0 0.3em;
    }
    &.rejectBtn {
      background: #d92d20;
      color: #fff;
      font-weight: 700;
      font-size: 15px;
      line-height: 20px;
      letter-spacing: 0.3px;
      height: 44px;
      padding: 0 0.3em;
      &:hover {
        background-color: #ed2618;
        color: #fff;
        // border: 1px solid #0d8bd7;
      }
    }
    &.modal-Primary-btn {
      background: var(--brand-primary-color, var(--brand-primary-color, $primary-color));
      color: #fff;
      font-weight: 700;
      font-size: 15px;
      line-height: 20px;
      letter-spacing: 0.3px;
      height: 44px;
      min-width: 166px;
      padding: 0 0.3em;
      &:hover {
        background-color: var(--brand-primary-color, #0d8bd7);
        opacity: 0.9;
        color: #fff;
        // border: 1px solid #0d8bd7;
      }
    }

    &.white-btn {
      background: #fff;
      color: #25282b;
      font-weight: 400;
      font-size: 1rem;
      line-height: 22px;
      border: 1px solid #cacccf;
      border-radius: 4px;
      transition: 0.2s all;
      min-width: 130px !important;
      padding: 0 2em;

      &:hover {
        background-color: var(--brand-primary-color, $primary-color);
        color: #fff;
        border: 1px solid var(--brand-primary-color, $primary-color);
      }
    }

    &.primary2-btn {
      background: var(--brand-primary-color, $primary-color);
      border-radius: 25.5px;
      font-weight: 500;
      font-size: 1.125rem;
      line-height: 27px;
      border: 1px solid transparent;
      color: #fff;

      &:hover {
        color: $danger-color;
        background: transparent;
        border: 1px solid $danger-color;
        transition: 0.3s ease-in-out;
      }
    }

    &.outlineBtn {
      background: #fff;
      color: #000;
      font-weight: 700;
      font-size: 15px;
      line-height: 20px;
      border: 1px solid #000;
      // min-width: 140px !important;
      transition: 0.2s all;
      padding: 0 0.3em;
      border-radius: 6px;

      &:hover {
        background-color: white;
        color: var(--brand-primary-color, $primary-color);
        border: 1px solid var(--brand-primary-color, $primary-color);
      }
    }

    &.savedBtn {
      background: #22c55e;
      color: #fff;
      font-weight: 600;
      font-size: 15px;
      line-height: 20px;
      transition: 0.2s all;
      padding: 0 0.3em;
      border-radius: 6px;
      height: 30px;
    }
    &.uploadBtn {
      border: 1px solid #acacac;
      background-color: #d9ecff;
      border-radius: 6px;
      color: $primary-color !important;
      font-weight: 500;
      font-size: 0.85rem;
      line-height: 23.25px;

      &:hover {
        background-color: var(--brand-primary-color, var(--brand-primary-color, $primary-color));
        color: #fff !important;
        border: 1px solid var(--brand-primary-color, $primary-color);
      }
    }
    &.btn100 {
      background: #fff;
      color: var(--brand-primary-color, $primary-color);
      font-weight: 500;
      font-size: 1rem;
      line-height: 22px;
      border: 1px solid var(--brand-primary-color, $primary-color);
      min-width: 100px !important;
      transition: 0.2s all;
      padding: 0 0.3em;

      &:hover {
        background-color: var(--brand-primary-color, $primary-color);
        color: #fff;
        border: 1px solid var(--brand-primary-color, $primary-color);
      }
    }

    &.outlineBtnRadius {
      background: #fff;
      color: $warning-color;
      font-weight: 500;
      font-size: 1rem;
      line-height: 22px;
      border: 1px solid $warning-color;
      transition: 0.2s all;
      border-radius: 25.5px;
      padding: 0 2em;

      &:hover {
        background-color: var(--brand-primary-color, $primary-color);
        color: #fff;
        border: 1px solid var(--brand-primary-color, $primary-color);
      }
    }

    &.brandBtn {
      background: $warning-color;
      border-radius: 5px;
      color: #fff;
    }

    &.creditNoteBtn {
      background: #a5a5a5;
      border-radius: 6px;
      color: #fff;
      font-weight: 500;
      font-size: 16px;
      line-height: 23.25px;
      letter-spacing: 0%;
      text-align: center;
    }

    &.green {
      background: $success-color;
      border-radius: 5px;
      min-width: 95px !important;
      color: #fff;
      font-size: 1rem !important;
    }
    &.secondary-btn {
      background: #dff2fd;
      border-radius: 5px;
      min-width: 95px !important;
      color: #000000;
      font-size: 1rem !important;
    }

    &.viewBtn {
      background: var(--brand-primary-color, $primary-color);
      color: #fff;
      font-weight: 500;
      font-size: 1rem;
      line-height: 22px;
      min-width: 100px !important;
      height: 45px !important;
      padding: 0 0.3em;

      &:hover {
        background-color: $warning-color !important;
        color: #fff;
        border: 1px solid $warning-color;
      }
    }
  }
}
